Package: cz.karry.vpnc
Version: 0.1.4
Section: misc
Priority: optional
Architecture: all
Maintainer: Lukas Karas <karry.cz@gmail.cz>
Description: webOS VPN manager
Source: {"Source":"http://webosvpnc.googlecode.com","Homepage":"http://prevpnc.googlecode.com","Category":"System Utilities","License":"GNU GPLv2","Type":"Application","FullDescription":"VPN manager for webOS. It support MS PPTP, OpenVPN and Cisco.","PostRemoveFlags":"RestartJava","PostUpdateFlags":"RestartJava","Title":"PreVPNc","PostInstallFlags":"RestartJava"}
