<div id="main" >
	
	<div class="palm-page-header">
		<div class="header-text">
			PreVPNc
		</div>
	</div>
	
    <div style="color:red;">Warning: PreVPNc is heavy under development, you can't expect that will work!</div>
    
    <div class="palm-list">

        <div class="palm-row first" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                VPN type: <strong>PPTP</strong>
            </div>
        </div>

        <div class="palm-row" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                Session name: <input type="text" id="name" value="preVPNc" />
            </div>
        </div>
        <div class="palm-row first" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                Host: <input type="text" id="host" value="" />
            </div>
        </div>
        <div class="palm-row first" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                User: <input type="text" id="user" value="" />
            </div>
        </div>
        <div class="palm-row first" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                Password: <input type="text" id="pass" value="" />
            </div>
        </div>
        <div class="palm-row first" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                Network: <input type="text" id="network" value="192.168.0.0/24" />
            </div>
        </div>
        <div class="palm-row first" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                Gateway: <input type="text" id="gateway" value="192.168.0.1" />
            </div>
        </div>
        
        <div class="palm-row last" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                <button id="btn">Connect!</button>
            </div>
        </div>

    </div>
    
    <hr />
    <h3>Log:</h3>
    <div id="msg"></div>
    <div id="msg2"></div>

</div>