<div>
	
	<div class="palm-page-header">
		<div class="header-icon prevpnc-icon32">&nbsp;</div>
		<div class="header-text">
			<span x-mojo-loc='' id="trackHeadermsg">PreVPNc</span>
		</div>
	</div>
	
    <div class="warning">
		<h3>Warning</h3> PreVPNc is heavy under development, you can't expect that will work!
		If you found a bug, please <a href="http://code.google.com/p/prevpnc/issues/list">fill new issue</a>.
	</div>
	
	
    <div>
        <div id='editableListContainer'>
            <div id="profileList" x-mojo-element="List" >
				list...
            </div>
        </div>
    </div>
	   
    <div id="msg"></div>
    <div id="msg2"></div>
</div>