

.palm-page-header .header-icon.prevpnc-icon32{
    background: url(../images/icon32.png) no-repeat;
}

.warning{
    margin:10px 5px 10px 5px;
    padding:2px;
    border:1px solid #f99;
    font-size:small;
    color:#833;
}
.warning h3{
    margin:0px;
}

pre{
    margin:5px ;
    padding:2px;
    border:1px solid #888;
    font-size:small;    
}

.log-state{
    margin:4px;
    font-size:small;
}

.log-name{
    margin:4px;
    font-size:larger;
}

.hidden{
    display:none;
}

.INACTIVE{
    color: inherit;
}
.DISCONNECTING{
    color: inherit;
}
.CONNECTING{
    color: yellow;
}
.CONNECTED{
    color: green;
}
.FAILED{
    color: red;
}
