<div>

	<div class="palm-page-header">
		<div class="header-icon prevpnc-icon32"></div>
		<div class="header-text">
			<span x-mojo-loc='' id="trackHeadermsg">PreVPNc</span>
		</div>
	</div>

	<div class="palm-group">
		<div class="palm-group-title">
			Basic
		</div>
		<div class="palm-list">
	
			<div class="palm-row first" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">
							Session name
						</div>
						<div id="name" name="name" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>

			<div class="palm-row " x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div x-mojo-element="ListSelector" id="type" name="type" class=""></div>
				</div>
			</div>
	
			<div class="palm-row last" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">
							Host
						</div>
						<div id="host" name="host" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="palm-group hidden" id="specificPPTP" >
		<div class="palm-group-title">
			PPTP Authorization
		</div>
		<div class="palm-list">
			<div class="palm-row first" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">
							User
						</div>
						<div id="pptp_user" name="pptp_user" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
			<div class="palm-row " x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">
							Password
						</div>
						<div id="pptp_password" name="pptp_password" x-mojo-element="TextField"></div>						
					</div>
				</div>
			</div>
			
			<div class="palm-row " x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div x-mojo-element="ListSelector" id="pptp_mppe" name="pptp_mppe" class=""></div>
				</div>
			</div>
			<div class="palm-row last" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div x-mojo-element="ListSelector" id="pptp_mppe_stateful" name="pptp_mppe_stateful" class=""></div>
				</div>
			</div>			
		</div>
	</div>


	<div class="palm-group hidden" id="specificOpenVPN" >
		<div class="palm-group-title">
			OpenVPN Settings
		</div>
		<div class="palm-list">
			<div class="palm-row first" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div x-mojo-element="ListSelector" id="openvpn_topology" name="openvpn_topology" class=""></div>
				</div>
			</div>
			<div class="palm-row " x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div x-mojo-element="ListSelector" id="openvpn_protocol" name="openvpn_protocol" class=""></div>
				</div>
			</div>
			<div class="palm-row" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div x-mojo-element="ListSelector" id="openvpn_cipher" name="openvpn_cipher" class=""></div>
				</div>
			</div>
			<div class="palm-row last" x-mojo-tap-highlight="momentary">
				<div class="note" id="OpenVPNkeyNote"></div>
			</div>
		</div>
	</div>
	
	<div class="palm-group hidden" id="specificCisco" >
		<div class="palm-group-title">
			Cisco Settings
		</div>
		<div class="palm-list">

			<div class="palm-row first" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">
							User ID
						</div>
						<div id="cisco_userid" name="cisco_userid" x-mojo-element="TextField"></div>						
					</div>
				</div>
			</div>
			<div class="palm-row" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div x-mojo-element="ListSelector" id="cisco_userpasstype" name="cisco_userpasstype" class=""></div>
				</div>
			</div>
			<div class="palm-row " x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">
							User Password
						</div>
						<div id="cisco_userpass" name="cisco_userpass" x-mojo-element="TextField"></div>						
					</div>
				</div>
			</div>
			
			<div class="palm-row " x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">
							IPSec ID
						</div>
						<div id="cisco_groupid" name="cisco_groupid" x-mojo-element="TextField"></div>						
					</div>
				</div>
			</div>
			<div class="palm-row" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div x-mojo-element="ListSelector" id="cisco_grouppasstype" name="cisco_grouppasstype" class=""></div>
				</div>
			</div>
			<div class="palm-row last" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">
							Group Secret
						</div>
						<div id="cisco_grouppass" name="cisco_grouppass" x-mojo-element="TextField"></div>						
					</div>
				</div>
			</div>
			
		</div>
	</div>


	<div class="palm-group">
		<div class="palm-group-title">
			Routing
		</div>
		<div class="palm-list">
			<div class="palm-row first" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">
							Network
						</div>
						<div id="network" name="network" x-mojo-element="TextField">192.168.0.0/24</div>
					</div>
				</div>
			</div>
			<div class="palm-row last" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div class="label">
							Gateway
						</div>
						<div id="gateway" name="gateway" x-mojo-element="TextField">192.168.0.1</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--
	<div style="text-align:center;">
		<button id="btn" style="margin:6px">SAVE</button>
	</div>
	-->

    <div id="msg"></div>
    <div id="msg2"></div>
</div>